@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap');

* {
  font-family: 'changa',sans-serif;
}
.card-img-top {
    width: 100%;
    height: 200px; 
    object-fit: contain;
  }

.card-text {
    color: green;
    font-weight: 700;
  }

  .card:hover {
    transform: scale(1.05);
  }
  .card{
    transition: transform 0.5s;
  }

  .mainbackground{
    background-color: #1e1e1e;
  }