{% load static %}
{% load filters %}

<!DOCTYPE html>
<html lang="en">
    {% include "header.html" %}
    <head>
      <title>Robabicia Store</title>
    </head>
    <body>
        <!-- Navigation-->
        {% include "navbar.html" %}
        <!-- Header-->
        <header class="mainbackground py-5">
          <div class="container px-4 px-lg-5 my-5">
              <div class="text-center text-white">
                  <img class="img-fluid d-block mx-auto mb-3" src="{% static 'photos/22.png' %}" alt="" width="400" height="220">
                  <p class="lead fw-normal text-white-50 mb-0" dir="rtl">من لا يحاول التميز في عرضه، لن يتميز في مبيعاته.</p>
              </div>
          </div>
      </header>
        
        <!-- Section-->
        <section class="pt-2">
          <div class="container px-4 px-lg-5 mt-5 mb-5">
              <div class="row">
                  <div class="col-md-8 offset-md-2 mb-4">
                      <form class="card card-sm">
                          <div class="card-body row no-gutters align-items-center">
                              <div class="col">
                                  <input type="search" name="item_name" placeholder="Search for products..."
                                      class="form-control form-control-borderless" />
                              </div>
                              <div class="col-auto">
                                  <button class="btn btn-success" type="submit">Search</button>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
              <div class="row gx-4 gx-lg-5 justify-content-center">
                  {% for product in product_objects %}
                  <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                      <div class="card h-100">
                          <!-- Product image-->
                          <a href="/{{ product.id }}"><img src="{{ product.image }}" class="card-img-top" /></a>
                          <!-- Product details-->
                          <div class="card-body p-3">
                              <div class="text-center">
                                  <!-- Product name-->
                                  <h5 id="nm{{ product.id }}" class="fw-bolder">{{ product.title }}</h5>
                                  <!-- Check if the product has a discount price -->
                                  {% if product.discount_price %}
                                  <!-- Display old price with strikethrough -->
                                  <div class="old-price text-muted" style="text-decoration: line-through;">{{ product.price | format_price }} L.E</div>
                                  <!-- Display discount price -->
                                  <div id="discount-price{{product.id}}" class="discount-price">{{ product.discount_price | format_price }} L.E</div>
                                  {% else %}
                                  <!-- If no discount, display regular price -->
                                  <div id="price{{product.id}}" class="card-text">{{ product.price | format_price }} L.E</div>
                                  {% endif %}
                              </div>
                          </div>
                          <!-- Product actions-->
                          <div class="card-footer p-3 pt-0 border-top-0 bg-transparent">
                              <div class="text-center">
                                  <a href="/{{ product.id }}" class="btn btn-outline-dark">View</a>
                                  <button id="{{ product.id }}" href="" class="btn atc btn-outline-dark">Add to cart</button>
                              </div>
                          </div>
                      </div>
                  </div>
                  {% endfor %}
              </div>
              <!-- Pagination -->
              <div class="row justify-content-center">
                  <div class="col-md-1">
                      <ul class="pagination justify-content-center">
                          {% if product_objects.has_previous %}
                          <li class="page-item">
                              <a class="page-link" href="?page={{ product_objects.previous_page_number }}">Previous</a>
                          </li>
                          {% endif %}
      
                          <li class="page-item active">
                              <a class="page-link" href="?page={{ product_objects.number }}">Current</a>
                          </li>
      
                          {% if product_objects.has_next %}
                          <li class="page-item">
                              <a class="page-link" href="?page={{ product_objects.next_page_number }}">Next</a>
                          </li>
                          {% endif %}
                      </ul>
                  </div>
              </div>
          </div>
      </section>
      
        <!-- Footer-->
        {% include "footer.html" %}    
    </body>
    <script>
      if (localStorage.getItem('cart') == null) {
        cart = {}
      } else {
        cart = JSON.parse(localStorage.getItem('cart'))
      }
    
      function updateCartCount() {
        // Calculate total count without errors
        let totalCount = 0;
        for (const itemId in cart) {
          totalCount += cart[itemId][0]; // Adding quantity of each item to totalCount
        }
        document.getElementById('id-cart').innerHTML =  totalCount ;
      }
      
     // Update cart count when the page loads
    updateCartCount();
    
    // Event listener for click on '.atc' elements
    $(document).on('click', '.atc', function () {
      let item_id = this.id.toString();
      let priceElement = document.getElementById('price' + item_id);
      let discountPriceElement = document.getElementById('discount-price' + item_id);
  
      if (cart[item_id] != undefined) {
          quantity = cart[item_id][0] + 1;
          cart[item_id][0] = quantity;
          let priceString = discountPriceElement ? discountPriceElement.innerHTML.replace(/[^\d.-]/g, '') : priceElement.innerHTML.replace(/[^\d.-]/g, ''); // Check if discount price exists, else use regular price
          cart[item_id][2] = cart[item_id][2] + parseFloat(priceString); // Parse the price correctly
      } else {
          quantity = 1;
          let totalCount = 0;
          let priceString = discountPriceElement ? discountPriceElement.innerHTML.replace(/[^\d.-]/g, '') : priceElement.innerHTML.replace(/[^\d.-]/g, ''); // Check if discount price exists, else use regular price
          price = parseFloat(priceString); // Parse the price correctly
          name = document.getElementById('nm' + item_id).innerHTML;
          cart[item_id] = [quantity, name, price, totalCount];
      }
      updateTotalItemsCount(cart);
      localStorage.setItem('cart', JSON.stringify(cart));
      updateCartCount();
      updateCart();
      console.log(cart);
  });
  
    
    
    // Function to update total items count for all items in the cart
    function updateTotalItemsCount(cart) {
    for (const item in cart) {
      let totalCount = 0; // Initialize totalCount for each item
      for (const itemId in cart) {
        totalCount += cart[itemId][0]; // Add the quantity of each item to totalCount
      }
      cart[item][3] = totalCount; // Update total items count for the current item
    }
    
    }
    
    // Init popover
    var popoverTrigger = document.getElementById('cart');
    var popover = new bootstrap.Popover(popoverTrigger, {
        content: 'Loading...',
    });
    
    // Function to update popover content
    function updatePopoverContent(content) {
        // Update popover content config
        popover._config.content = content;
        // Update popover content
        popover.setContent();
    }
    
    
    // Update cart info
    function updateCart() {
    let cartString = '';
    
    cartString += '<h5>Cart</h5>';
    
    let cartObject = JSON.parse(localStorage.getItem('cart'));
    
    for (item in cartObject) {
    
      cartString += cartObject[item][1] +' Qty: '+ cartObject[item][0] + '<br>'; // Display quantity
    }
    
    cartString += 'Total Items Count: ' + cartObject[item][3] + '<br>'; // Display total items count
    cartString += "<a href='/checkout' class='btn btn-warning'>Checkout</a>";
    
    updatePopoverContent(cartString);
    
    }
    
    
    // Update cart
    updateCart();
    
    </script>
    
    
    <script>
      // Initialize Notyf
      var notyf = new Notyf()
    
      // Add event listener to "Add to cart" buttons
      document.addEventListener('DOMContentLoaded', function () {
        var addToCartButtons = document.querySelectorAll('.atc')
        addToCartButtons.forEach(function (button) {
          button.addEventListener('click', function () {
            // Display success notification
            notyf.success('Product added to cart successfully!')
          })
        })
      })
    </script>
</html>
